<h1>Movies</h1>

<ul class="movie-list">
<% @movie.each do |movie| %>
<li class="movie-links">
	<img class="movie-poster" id="image-<%= movie.id %>" src="/images/<%= movie.image_url %>" ><!--
	--><a href="/movies/<%= movie.id %>"><%= movie.title %></a>
	</li>
<% end %>
</ul>