html { 
  background: url(/images/background.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


html, body {
	height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif;

}

header {
	height: 10%;
	border: 5px solid black;
}

nav {
	height: 90%;
	background-color: white;
	background-size: contain;
	text-align: right;
	border-top: 5px dashed black;
	border-bottom: 5px dashed black;
}

nav h1{
	display: inline-block;
	font-size: 3rem;
	margin-right: 20%;
	vertical-align: bottom;
	margin-bottom: 20px;
}

.nav-list {
	list-style: none;
	height: 100%;
	display: inline-block;
}

.nav-items {
	font-size: 1.5rem;
	display: inline-block;
	height: 50px;
	border-left: 2px solid black;
	border-right: 2px solid black;
	text-align: center;
	padding-top: 32px;
}

.nav-items:first-child {
	border-left: 4px solid black;
}

.nav-items>a {
	text-decoration: none;
	color: black;
	padding: 32px 22px 25px 22px;
	transition: 0.5s background-color
}

.nav-items>a:hover {
	background-color: #BF6E04;
}

main {
	width: 80%;
	height: 80%;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10%;
	background-color: white;
}

main h1 {
	text-align: center;
	font-size: 3rem;
	padding-top: 20px;
}

.movie-list {
	margin-top: 20px;
}

.movie-links {
	display: inline-block;
	width: 15%;
	margin-left: 20px;
	vertical-align: top;
	text-align: center;
}

.movie-poster {
	width: 100%;
}

.movie-links>a {
	text-decoration: none;
	color: black;
	display: inline-block;
	font-size: 1rem;
}

footer {
	width: 100%;
	background-color: white;
	border: 3px solid black;
	text-align: center;
	display: inline-block;
	vertical-align: bottom;
}

footer p {
	width: 100%;
	border: 5px dashed black;
	font-size: 1.rem;
	padding: 10px 0;
}

.hidden {
	display: none;
}

/* Individual Movie Page */

.movie-info {
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
	margin-top: 20px;
	font-size: 2rem;
	width: 50%;
}

.movie-info-list>dt, .movie-info-list>dd {
display: inline-block;
width: 50%;
margin-top: 20px;
vertical-align: top;
}

.movie-reviews {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	margin-left: 20px;
	margin-top: 50px;
	font-size: 2rem;
	text-align: center;
}

.movie-reviews h2{
	font-size: 2.2rem;
	margin-bottom: 20px;
}

.movie-reviews>a{
	font-size: 2.2rem;
	margin-left: 40px;
	margin-top: 40px;
}

.movie-reviews-list>li{
display: inline-block;
width: 100%;
text-align: center;
margin-bottom: 20px;
}

.movie-img {
	width: 25%;	
	margin-top: -150px;
	margin-left: 100px;
}

.movie-info-links {
	display: block;
	text-align: center;
	margin-top: 20px;
	font-size: 1.5rem;
}

.movie-info-links>a {
	margin-left: 50px;
}


